<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.CommunityMapper">

<select id="getUserList"  resultType="com.example.demo.dto.UserDto">
     select id,username from user
</select>

<select id="getAllMessages" resultType="com.example.demo.dto.MessageDto">
     select * from message
</select>

 <insert id="saveMessage">
        INSERT INTO message (sender, receiver, content, messagetime)
        VALUES (#{sender}, #{receiver}, #{content}, #{messagetime})
 </insert>

<select id="getMessagesByUser" resultType="com.example.demo.dto.MessageDto">
    SELECT * FROM message WHERE sender = #{username} OR receiver = #{username} ORDER BY messagetime ASC
</select>


</mapper>