<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">

<insert id="signUp"  parameterType="com.example.demo.dto.UserDto">
    insert into user
    (userid , username , pwd , email , floor)
    values (#{userid} , #{username} , #{pwd} , #{email} , #{floor})
</insert>

<select id="login" resultType="com.example.demo.dto.UserDto">
     select * from user
     where userid =#{ userid }
</select>

<select id="userDate" resultType="com.example.demo.dto.UserDto">
     select * from user
     where id =#{ id}
</select>

<select id="getQuestionList"  resultType="com.example.demo.dto.QuestionDto" > 
     select * from question
     where username = #{ username }
</select>

<select id="getAnswerList" resultType="com.example.demo.dto.AnswerDto">
      select * from answer
      where username = #{ username }
</select>

<update id="updateUser" parameterType="com.example.demo.dto.UserDto" >
      update user set 
      username = #{ username } , email = #{ email } , floor = #{ floor } , bio = #{ bio } , pwd = #{ pwd }
      where id = #{ id }
</update>

</mapper>



